@font-face {
  font-family: puimek;
  src: url(../src/font/puimek.ttf);
}

.welcome-page {
  text-align: center;
  width: 330px;
}

/* .welcome-page h2 {
  font-size: 24px;
  margin-bottom: 40px;
} */

.welcome-page button {
  background-color: #43C486;
  margin-top: 20px;
  font-size: 15px;
  width: 200px;
  display: inline;
}

.welcome-page img {
  max-width: 100%;
}

body {
  margin: 0;
}

* {
  font-family: puimek;
  color: #000000;
}

body {
  background-color: #EAF1EA;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal-question {
  background-color: #C2E6BC;
  width: 330px;
  /* min-height: 200px; */
  /* height: min-content; */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-result {
  background-color: #EAF1EA;
  width: 330px;
  min-height: 200px;
  height: min-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.score-section img {
  max-width: 80%;
  height: auto;

}

.image-line {
  display: flex;
  align-items: center;
}

.image-line img {
  width: 60px;
  height: auto;
}

.score-section p {
  font-size: 16px;
}

.score-section button {
  width: fit-content;
  display: inline;
  margin: 7%;
  font-size: 20px;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  /* Added margin at the bottom */
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 5px solid #43C486;
  cursor: pointer;
  margin-bottom: 10px;
  /* Added margin between answer buttons */
}

button.selected {
  background-color: #43C486;
  /* Changed color for selected button */
}

button:hover {
  background-color: #43C486;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* Added margin at the top */
}

.button-section button {
  width: fit-content;
  margin-right: auto;
  margin-right: 10px;
}

/* Smaller screens */
@media (max-width: 767px) {
  .app {
    width: 90%;
    /* Adjust the width for smaller screens */
  }

  .question-text {
    font-size: 18px;
    /* Adjust font size for question text */
  }

  button {
    font-size: 14px;
    /* Adjust font size for answer buttons */
  }
}